// Word scroll module
//-------------------
.easy-way {
  //font-size: 1.8em;
  //font-weight: bold;
  margin-bottom: 15px;

  #word-scroll {
    //outline: 1px solid red;

    display: inline-block;
    margin-left: 5px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    width: 140px;
    vertical-align: top;

    #word-scroll-inner {
      position: absolute;
      top: 0; left: 0;
    }

    .word {
      display: block;
      margin-bottom: 5px;
      height: 25px;
    }
  }

}
