//-- SIGNUP PAGE
//------------------------------------
@import "word_scroll";

.thumbnails {
  @include clearfix;
  margin: 20px 0;

  .row {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  p {
    font-size: 1.1em;
    line-height: 1.5;
  }

  img {
    @include border-box;
    @include border-radius(4px);
    border: 1px solid $med-gray;
    padding: 2px;
    width: 100%;
  }
}

@media (max-width: 630px) {
  .thumbnails {

    .row, p {
      margin-top: 10px;
    }

    img {
      display: none;
    }
  }
}