@import "word_scroll";

.round-number {
  $height: 25px;

  @include border-radius($height);
  background-color: $gray-text;
  color: white;
  display: inline-block;
  float: left;
  font-size: 1.2em;
  line-height: $height;
  margin-right: 10px;
  text-align: center;
  width: $height; height: $height;
}

.landing-main,
.landing-how {
  img {
    border: 1px solid $med-gray;
    max-width: 100%;

    @include mobile { display: none; }
  }
}


.landing-reasons,
.landing-how {
  @include inset-box-shadow(0, 10px, 5px, -8px, lighten($med-gray, 5));
  padding: 75px 0;

  h2 { color: lighten($dark-gray, 15); }

  p {
    color: $light-text;
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

.section-title {
  // Light main section header
  color: lighten($gray-text, 20);
  margin-bottom: 50px;
  text-align: center;

  @include mobile { margin-bottom: 25px; }
}


.landing-main {
  padding: 100px 0 0;

  h1 {
    margin-top: 75px;
    font-size: 3em;

    @media (max-width: 1100px) { margin-top: 15px; }
  }

  p {
    color: lighten($gray-text, 10);
    font-size: 1.7em;
    line-height: 1.5;
    margin-bottom: 50px;

    @include mobile { margin-bottom: 15px; }
  }

  @include mobile {
    padding-top: 20px;
    text-align: center;

    p { text-align: left; } // Hack to center the cta btn
  }
}



.landing-reasons {
  background-color: white;
  text-align: center;

  .blueborder {
    border-bottom: 2px solid $blue;
    margin: 0 30px 10px;

    @media (max-width: 790px) {
      border: none;
      margin: 0;
    }
  }

  @include mobile {
    padding: 25px 0;

    p { margin-bottom: 10px; }
  }
}



.landing-how {

  h1 {
    color: lighten($gray-text, 20);
    margin-bottom: 25px;
    text-align: left;
  }

  p { line-height: 1.5; }

  .row + .row {
    margin-top: 35px;

    @include mobile { margin-top: 25px; }
  }

  .closing-cta {
    margin-top: -5px;
    text-align: center;

    p {
      @include bold(1.5em);
      margin: 5px 0 10px;
    }

    @include mobile {
      p { margin-top: -10px; }
    }
  }

  .btn-cta {
    margin-top: 25px;

    @include mobile { margin: 10px 0; }
  }
}



.landing-footer {
  background-color: #262626;
  border-top: 10px solid $gray-text;
  color: $light-text;
  padding: 50px 0;
  text-align: center;

  p { margin-bottom: 10px; }

  a {
    color: lighten($gray-text, 25);

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}
