.error-box {
  @extend %whitebox;
  text-align: center;

  h1 {
    font-size: 3.2em;
  }

  p {
    color: lighten($gray-text, 20);

    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .sorry {
    color: $blue;
  }

  .support {
    color: darken($med-gray, 10);
    font-size: 1.1em;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
