//-- POST-SIGNUP WELCOME
//------------------------------------
.welcome-container {
  @extend %whitebox;
  text-align: center;

  h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
  }

  p {
    color: lighten($gray-text, 10);
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  @media (max-width: 480px), (min-width: 630px) and (max-width: 1100px) {
    #group-join,
    #group-new {
      float: none;
      margin: 0 auto;
    }

    #group-join { margin-bottom: 20px; }
  }
}
