<%= render layout: 'shared/email' do %>

  <p>Hi <%= @recipient.first_name %>, you can use the link below to reset your password! It'll be valid for the next 4 hours.</p>

  <% url = reset_password_url(token: @token.token) %>
  <p>Here's the link: <%= utm_email_link_to url, url %></p>

<% end %>
