//-- EXPENSES DASHBOARD
//------------------------------------
#dashboard-buttons {
  margin-bottom: 25px;

  .btn { margin-right: 10px; }
}

.expenses-container {
  @extend %whitebox;
  margin-bottom: 15px;
  padding: 0;
}

.expense {
  @include clearfix;
  border-top: 1px dashed $med-gray;
  font-size: 2em;
  padding: 5px 10px;
  position: relative;

  &:first-of-type { border: none; }

  .expense-amount,
  .expense-debtor,
  .expense-creditor,
  .expense-title,
  .expense-date {
    float: left;
  }

  .expense-edited {
    // A mark showing that the amount has been edited
    color: $blue;

    &:hover { cursor: pointer; }
  }

  .expense-amount {
    margin: 20px 10px 0 0;

    a {
      color: $gray-text;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  .expense-debtor,
  .expense-creditor {
    margin: 20px 10px 20px 0;

    &:before { content: " - "; }

    a {
      border-bottom: 1px dashed $blue;
      color: $gray-text;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  .info-stack {
    display: inline-block;
    margin: 10px 0 0;
    padding-left: 5px;
  }

  .expense-title {
    font-size: 0.7em;
    margin-bottom: 5px;
  }

  .expense-date {
    clear: left;
    color: $light-text;
    font-size: 0.5em;
  }

  .expense-actions {
    // Button container
    font-size: 14px;
    position: absolute;
    bottom: 10px; right: 10px;
  }

  .mark-off-notification { padding: 4px; }

  @media (max-width: 1100px) {
    padding: 5px;

    .expense-creditor,
    .expense-debtor,
    .expense-amount {
      margin: 5px 5px 5px 0;
    }

    .info-stack {
      display: block;
      font-size: 0.8em;
      overflow: auto;
      width: 100%;
    }

    .expense-date,
    .expense-title {
      float: left;
    }

    .expense-date {
      clear: none;
      margin: 3px 0 0 10px;
    }
  }

} // .expense

.expense-blank {
  font-size: 1em;

  p { margin: 5px 0; }
}

.expense-condensed {
  padding: 8px 10px;

  .expense-creditor,
  .expense-debtor,
  .expense-amount {
    margin: 5px 5px 5px 0;
  }
}

.expense-total {
  color: $light-text;
  margin: 10px 0;
  text-align: right;
}

.expense-total-large {
  @include bold(1.3em);
  margin-bottom: 20px;
  text-align: center;
}

.expense-total-small {
  font-size: 1.1em;
  margin: 10px 0 20px;
  text-align: center;
}

.expense-stale {
  color: #D03130;
  float: right;
  font-size: 0.7em;
  padding: 2px 5px;

  &:hover { cursor: pointer; }

  @media (max-width: 1100px) { display: none; }
}


@media (max-width: 480px) {
  #dashboard-buttons {
    margin-top: -5px;

    .btn {
      margin: 0;
      padding: 15px 18px;

      &:last-of-type { float: right; }
    }
  }
}
