//-- NEW GROUP FAQ
//------------------------------------
.group-faq {
  h2 { margin-bottom: 10px; }

  ul {
    @extend %whitebox;
    text-align: center;

    li {
      font-size: 1.2em;
      line-height: 1.4;
      margin-bottom: 10px;
    }

  }

  @include mobile {
    h2, ul { display: none; }
  }

}


//-- GROUP POST-CREATE WELCOME
//------------------------------------
.group-welcome {
  // Landing page after group creation

  @extend %whitebox;
  text-align: center;

  h1 {
    margin: 5px 0;

    & + p { margin-bottom: 20px; }
  }

  p {
    font-size: 1.1em;
    line-height: 1.4;
  }

  & > .btn {
    padding: 10px 0;
    font-size: 1.1em;
  }
}

.group-invitations {
  margin: 20px 0 15px;

  h3 {
    color: lighten($gray-text, 15);
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: left;
  }

  .invitation-field {
    @include clearfix;
    position: relative;

    input:not([type="submit"]) {
      @extend %input-full;
      margin-bottom: 5px;
    }

    .invitation-remove {
      color: lighten($gray-text, 32);
      display: none;
      font-size: 1.3em;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 7px;

      &:hover { text-decoration: none; }
    }
  }

  .invite-btns {
    @include clearfix;
    margin-top: 10px;

    .btn {
      @include border-box;
      margin: 0;
      width: 45%;
    }

    @media (min-width: 630px) and (max-width: 1100px) {
      .btn {
        width: 100%;
        &:first-child { margin-bottom: 10px; }
      }
    }

  }
}


//-- GROUP DASHBOARD
//------------------------------------
.groups-container {
  @extend %whitebox;
  margin-bottom: 15px;
  padding: 0;
}

.group {
  @include clearfix;
  border-bottom: 1px dashed $med-gray;
  padding: 10px;

  .group-info { @include clearfix; }

  &:last-of-type { border: none; }

  .group-gid,
  .group-title,
  .group-member-count,
  .group-member-names,
  .group-owner {
    float: left;
  }

  .group-gid {
    float: right;
    font-size: 1.4em;
  }

  .group-title {
    font-size: 1.5em;
    margin-top: 5px;

    a {
      color: $gray-text;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  .group-member-count {
    clear: both;
    margin-top: 5px;
  }

  .group-member-names {
    clear: both;
    display: none;

    .group-member {
      display: block;
      margin: 2px 0 0 5px;
    }
  }

  .group-owner {
    clear: both;
    color: darken($med-gray, 15);
    font-size: 0.9em;
    margin-top: 10px;

    @include mobile { margin-bottom: 10px; }
  }
}

.group-btn-container {
  text-align: center;
  margin-top: 25px;
}

.group-back { margin-bottom: 15px; }
