.stats-container {
   @include clearfix;
}

.stats-banner {
  color: lighten($gray-text, 10);
  font-size: 1.6em;
  text-align: center;
}

.stats-row {
  margin-bottom: 45px;

  @include mobile { margin-bottom: 10px; }
}

.stats-group-select {
  margin-bottom: 20px;

  h2 {
    font-size: 2.6em;
    font-weight: normal;
    text-align: center;
  }

  select {
    display: block;
    font-size: 1.5em;
    margin-top: 15px;
    width: 100%;
  }
}

.group-members {
  text-align: center;

  h1 {
    font-size: 2.4em;
    span { color: $blue }
  }

  h2 {
    font-size: 1.9em;
    font-weight: normal;
  }

  li {
    font-size: 1.3em;
    margin-bottom: 7px;
  }
}

.group-exchanged {
  @extend %whitebox;
  text-align: center;

  p {
    color: lighten($gray-text, 15);
    font-size: 1.9em;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 4em;
    font-weight: normal;
  }
}

.chartbox {
  @extend %whitebox;
  padding: 15px 20px 15px;

  svg {
    display: block;
    margin: 0 auto;
  }

  h3 {
    margin-bottom: 15px;
    text-align: center;
  }

  @include mobile {
    margin-bottom: 10px;
  }
}

.user-loan-borrow {
  .debt   { fill: #1f77b4; }
  .credit { fill: #2ca02c; }

  .label-amount,
  .label-type {
    font-size: 1.4em;
    text-anchor: middle;
  }

  .label-amount { fill: white; }

  .label-type {
    fill: $gray-text;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.user-credit-segments,
.user-debt-segments {
  svg { float: left }

  .legend {
    float: left;
    margin-top: 10px;
    margin-left: 25px;

    li {
      font-size: 1.1em;
      margin-bottom: 20px;
    }

    .swatch {
      display: inline-block;
      float: left;
      margin-right: 5px;
      width: 17px;
      height: 17px;
    }

    .percent {
      color: lighten($light-text, 10);
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.stats-line {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;

  span { color: $blue; }
}
