<% link_class = current_user.notifications_to.count > 0 ? 'dropdown-trigger' : 'link-dead' %>
<a href="#" class="<%= link_class %>">Notifications</a>

<% unread_count = current_user.unread_notifications.count %>
<% if unread_count > 0 %>
  <span class="badge badge-red dropdown-trigger"><%= unread_count %></span>
<% end %>

<div class="notifications-container">
  <% current_user.recent_notifications.each do |notif| %>
    <%= render "notifications/#{notif.notif_type}", notification: notif %>
  <% end %>
</div>
