<%
  expense = notification.expense
  # Is the notification unread, completed, etc
  aux_class =
  if notification.unread?
    'notification-unread'
  elsif !expense.active
    'notification-completed'
  end
%>

<div class="notification <%= aux_class %>" data-id="<%= expense.id %>">
  <%= content_tag :div, notif_text(notification), class: 'notification-text' %>

  <%= content_tag :div, mark_off_btn, class: 'right' if expense.active %>
</div>
