<div class="row">
  <div class="span-6 offset-5 group-welcome">

    <div class="alert alert-success">Your group has been successfully created! </div>

    <p>Your group ID is:</p>
    <h1><%= @group.gid %></h1>
    <p>Give this, along with the password you chose, to members of your group to start sharing expenses!</p>

    <%= link_to "Your Groups", groups_path, class: "btn btn-blue btn-large" %>
    <%= link_to "Expenses Dashboard", expenses_path, class: "btn btn-blue btn-large" %>

  </div><!-- .group-welcome -->
</div>