<div class="group-invitations" style="<%= visible ? '' : 'display: none' %>">
  <h3><%= header %></h3>
  <%= form_tag invite_group_path(group.gid), class: 'form-invisible' do %>

    <!--
    <div class="invitation-field">
      <input type="text" name="invitations[0]recipient_email">
      <a href="" class="invitation-remove">&times;</a>
    </div>
    -->

    <div class="invite-btns">
      <a href="#" class="btn btn-blue left add-invitation">
        <i class="icon-white icon-plus"></i>
        <span style="display: inline-block; margin-top: 1px">Add more</span>
      </a>

      <input type="submit" class="btn btn-green right" value="Send invitations! &raquo;">
    </div>

  <% end %>
</div>
