<% provide(:title, 'Groups Overview') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "groups" %>
<% end %>

<div class="row">
  <div class="span-10 offset-3">
    <h1>Your Groups</h1>

    <%= flash_success %>

    <div class="groups-container">
      <%= render @groups %>
    </div>

    <div class="group-btn-container">
      <%= link_to "Create a new group", new_group_path,   class: "btn btn-blue btn-huge" %>
    </div>

  </div>
</div>
