<div class="row-fluid">
	<h1>Group#new</h1>
	<p>Find me in app/views/groups/new.html.erb</p>
</div>

<div class="row-fluid">
	<div class="span4" style="outline: 1px solid red">
		faq stuff
	</div>
	<div class="span8" style="outline: 1px solid green">
		form
	</div>
</div>