<% provide(:title, "Group: #{@group.title}") %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "groups" %>
<% end %>

<% if @group.users.count == 1 && current_user == @group.owner %>
  <%= render 'group_welcome' %>
<% else %>

  <div class="row">
    <div class="span-8 offset-4">
      <%= link_to raw("&laquo; Back to Groups"), groups_path, class: "btn btn-shadow btn-large group-back" %>

      <div class="groups-container">
        <%= render @group %>
      </div><!-- ..group-container -->

    </div>
  </div>

<% end %>