<h2>Payback is:</h2>

<!-- <ul>
  <li>Simple</li>
  <li>Easy</li>
  <li>Built to look great on your phone</li>
  <li>Free :-)</li>
</ul> -->


<div class="thumbnails row">
  <div class="span-4">
    <h3>Simple</h3>
    <p>So Simple.</p>
  </div>
  <div class="span-4">
    <img src="http://placehold.it/160x120" alt="">
  </div>
</div>



<div class="thumbnails row">
  <div class="span-4">
    <img src="http://placehold.it/160x120" alt="">
  </div>
  <div class="span-4">
    <h3>Built to look great on your phone.</h3>
    <p>For when you're on the go!</p>
  </div>
</div>



<div class="thumbnails row">
  <div class="span-4">
    <h3>Built to look great on your phone.</h3>
    <p>For when you're on the go!</p>
  </div>
  <div class="span-4">
    <img src="http://placehold.it/160x120" alt="">
  </div>
</div>
