<h2>Payback is:</h2>

<!-- <ul>
  <li>Simple</li>
  <li>Easy</li>
  <li>Built to look great on your phone</li>
  <li>Free :-)</li>
</ul> -->

<ul class="thumbnails">
  <div class="item-container">
    <li class="span-4">
      <h3>Simple.</h3>
      <p>So simple.</p>
    </li>
    <li class="span-2"><img src="http://placehold.it/160x120" alt=""></li>
  </div>

  <div class="item-container">
    <li class="span-2"><img src="http://placehold.it/160x120" alt=""></li>
    <li class="span-4">
      <h3>Easy.</h3>
      <p>Your grandmother could do it.</p>
    </li>
  </div>

  <div class="item-container">
    <li class="span-4">
      <h3>Built to look great on your phone.</h3>
      <p>For when you're on the go.</p>
    </li>
   <li class="span-2"><img src="http://placehold.it/160x120" alt=""></li>
  </div>
</ul><!-- .thumbnails -->