<p class="easy-way">
  The easiest way to track expenses for your
  <span id="word-scroll">
    <span id="word-scroll-inner">
      <span class="word">household</span>
      <span class="word">group</span>
      <span class="word">friends</span>
      <span class="word">family</span>
    </span>
  </span><!-- #word-scroll -->     
</p>