<% provide(:title, 'Sign Up') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "mailcheck" %>
<% end %>

<div class="row">

  <div class="span-10 offset-3 pretext-block">
    <h1>Let's get you started.</h1>
    <p>After signing up, you'll be prompted to create a new group, or join an existing one. You're seconds away!</p>
  </div>

  <div class="span-6 offset-5">

    <%#
      TODO: Interactive signup process with email invites
    %>

    <%= render 'signup_form' %>

    <span class="form-suggestion">Already have an account? <%= link_to raw("Log in! &raquo;"), login_path %></span>

  </div>
</div>
