<% provide(:title, 'Sign Up') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "mailcheck" %>
<% end %>

<div class="row">
  <div class="span-6 offset-5">

    <%# 
      TODO: Interactive signup process with email invites
    %>

    <%= render 'signup_form' %>

    <p><%= link_to "Already have an account? Log in!", login_path, class: "form-suggestion" %></p>

  </div>
</div>