<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<div class="container" style="background-color: red;">

    <div class="row-fluid" id="dashboard-title">
        <h1>Dashboard</h1>
    </div>

    <div class="row-fluid">

        <%#----------- OWED TO YOU -----------%>
        <div class="span6" id="left-column">

            <h2>Owed to You</h2>

            <div class="row-fluid">
                <div class="span12 expenses-container">            
                    <div class="row-fluid">

                        <div class="span12 expense">
                            <div class="expense-inner">

                                <div class="info-left">
                                    <span class="expense-price">$60.00</span>
                                    <span class="expense-debtor">Matt</span>
                                </div><!-- .info-left -->

                                <div class="info-right">
                                    <span class="expense-title">Beer, hard liquor</span>
                                    <span class="expense-date">7 Feb 2012</span>
                                </div><!-- .info-right -->

                            </div><!-- .expense-inner -->
                        </div><!-- .expense -->

                    </div><!-- .row-fluid -->
                </div><!-- .expenses-container -->
            </div><!-- .row-fluid -->
        </div><!-- .span6 -->


        <%#----------- YOU OWE -----------%>
        <div class="span6" id="right-column">            
            <h2>You Owe</h2>

            <div class="row-fluid">
                <div class="span12 expenses-container">
                    <div class="row-fluid">

                        <div class="span12 expense">
                            <div class="expense-inner">

                                <div class="info-left">
                                    <span class="expense-price">$10.00</span>
                                    <span class="expense-debtor">Alex</span>
                                </div><!-- .info-left -->

                                <div class="info-right">
                                    <span class="expense-title">CoffeeMate</span>
                                    <span class="expense-date">2 Dec 2011</span>
                                </div><!-- .info-right -->

                            </div><!-- .expense-inner -->
                        </div><!-- .expense -->

                    </div><!-- .row-fluid -->
                </div><!-- .expenses-container -->
            </div><!-- .row-fluid -->
        </div><!-- .span6 -->

    </div><!-- .row-fluid -->
</div><!-- .container -->