<% provide(:title, "TODO TITLE") %>

<h1>User#show - <%= @user.full_name %> (that's you!)</h1>
<p>Find me in users/show.html.erb</p>

<% if @user != current_user %>
<p style="color:red;font-size:2em;">@USER != CURRENT_USER</p>
<% end %>
