<div class="row">
  <div class="span-16">

    <footer>
      <p class="tagline">Payback is brought to you with love by <a href="http://www.andrewberls.com">Andrew Berls</a>.</p>

      <% if signed_in? %>
        <div class="actions">
          <p>Signed in as <%= current_user.full_name %></p>
          <span class="divider">|</span>
          <%= link_to "Contact", contact_path %>
          <span class="divider">|</span>
          <%= link_to "Log Out", logout_path %>
        </div><!-- .actions -->
      <% end %>     
        
    </footer><!-- footer -->

  </div>
</div>