<div class="row-fluid footer">
    <p>
        Payback is <a href="https://github.com/andrewberls/Payback">open-source</a>, brought to you with love by <a href="http://www.andrewberls.com">Andrew Berls</a>.
    </p>
</div><!-- .footer -->