<header>
  <div class="container">
    <h1><%= link_to "Payback", expenses_path %></h1>

    <nav>
      <ul>
        <li><%= link_to "Dashboard",   expenses_path,    class: (current_page? expenses_path)    ? 'current' : '' %></li>
        <li><%= link_to "New Expense", new_expense_path, class: (current_page? new_expense_path) ? 'current' : '' %></li>
        <li><%= link_to "Groups",      groups_path,      class: (current_page? groups_path)      ? 'current' : '' %></li>
      </ul>
    </nav>

  </div>
</header>



