<header>
  <div class="container">
    <h1>Payback</h1>
    <nav>
      <ul>
        <li><%= link_to "Dashboard", expenses_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
      </ul>
    </nav>
    <% # TODO: TITLE Dashboard | Groups %>
  </div>
</header>