<% if instance.present? && instance.errors.any? %>
  <div class="alert alert-error">
  <h3>Something went wrong!</h3>
  <ul>
    <% instance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% else %>
  <%= flash_error %>
<% end %>
