<div class="users-container">
  <h5>Select Members</h5>
  <div class="user-column">

    <label class="checkbox-inline">
      <input type="checkbox" value="Alex">
      Alex
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="Christan">
      Christian
    </label>

  </div><!-- .user-column -->
  <div class="user-column">

    <label class="checkbox-inline">
      <input type="checkbox" value="Jared">
      Jared
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="Matt">
      Matt
    </label>

  </div><!-- .user-column -->
</div><!-- .users-container -->