<header>
  <div class="container">
    <h1><%= link_to "Payback", expenses_path %></h1>
    <nav>
      <ul>
        <li><%= link_to "Log In", login_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>