<%# TODO: consolidate with shared/_header.html.erb eventually %>

<header>
  <div class="container">
    <h1><%= link_to "Payback", root_url %></h1>
    <nav>
      <ul>
        <li><%= link_to "Log In",  login_path,  class: (current_page? login_path)  ? 'current' : '' %></li>
        <li><%= link_to "Sign Up", signup_path, class: (current_page? signup_path) ? 'current' : '' %></li>
      </ul>
    </nav>
  </div>
</header>
