<% @groups.each do |group| %>

  <h3>something here</h3>

  <div class="expenses-container">

    <% @debts.each do |expense| %>
      <div class="expense">
        <span class="expense-price"><%= number_to_currency(expense.amount, :precision => 2) %></span>
        <span class="expense-creditor"><%= expense.creditor.first_name %></span> 
        
        <div class="info-stack">
          <%# Title + Date vertically stacked  %>
          <span class="expense-title"><%= expense.title %></span>
          <span class="expense-date"><%= render_date expense.created_at %></span>
        </div><!-- .info-stack -->
      </div><!-- .expense -->
    <% end %>

  </div><!-- .expenses-container -->

<% end %><%# @groups.each %>