<% @groups.each do |group| %>

  <% unless group.expenses.blank? %>

    <%# content_tag :h3, group.title %>

    <div class="expenses-container">

      <% @debts = Expense.where(group_id: group.id, active: true, debtor_id: current_user.id) %>
      <% @debts.each do |expense| %>
        <div class="expense">
          <span class="expense-price"><%= number_to_currency(expense.amount, :precision => 2) %></span>
          <span class="expense-creditor"><%= expense.creditor.first_name %></span> 
          
          <div class="info-stack">
            <%# Title + Date vertically stacked  %>
            <span class="expense-title"><%= expense.title %></span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div><!-- .info-stack -->
        </div><!-- .expense -->
      <% end %>

    </div><!-- .expenses-container -->

  <% end %>

<% end %><%# @groups.each %>