<section class="landing-how">
  <div class="container">
    <div class="row">
      <div class="span-12 offset-2">
        
        <h1>How it works:</h1>

        <div class="row">
          <div class="span-5">
            <%= image_tag "group-thumb.png", alt: "test" %>
          </div>
          <div class="span-7">
            <span class="round-number">1</span>
            <h2>Create your group</h2>
            <p>Signing up for Payback and creating your first group takes seconds. Once everyone you want to SPLIT expenses with has joined, you're ready to go!</p>
          </div>
        </div>

        <div class="row">
          <div class="span-7">
            <span class="round-number">2</span>
            <h2>Start spending</h2>
            <p>Whenever you lend out money, just let Payback know and it will remember the details for you. Or, if you're entering a large shared expense, select the group members you want and choose how you want to divide the cost.</p>
          </div>
          <div class="span-5">
            <%= image_tag "expense-thumb.png", alt: "test" %>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="span-16" style="text-align:center">
        <%= link_to raw("Get started for free &raquo;"), signup_path, class: "btn btn-green btn-cta" %>
      </div>
    </div>

  </div>
</section>