<section class="landing-footer">
  <div class="container">
    <div class="row">
      <div class="span-8 offset-4">
        
        <p>Payback is brought to you with love by <a href="http://www.andrewberls.com">Andrew Berls</a>.</p>
        <%= link_to "Log in", login_path %>
        <span class="divider">|</span>
        <%= link_to "Contact", contact_path %>

      </div>
    </div>
  </div>
</section>