<section class="landing-main">
  <div class="container">
    <div class="row">
      
      <div class="span-6"><!-- 7 -->
        <h1>Welcome to Payback.</h1>
        <%= render 'word_scroll' %>

        <%= link_to raw("Get started for free &raquo;"), signup_path, class: "btn btn-green btn-cta" %>
      </div>

      <div class="span-10"><!-- 9 -->
        <img src="http://placehold.it/680x450" alt=""><!-- 610x405 -->
      </div>

    </div>
  </div>
</section>