<section class="landing-main">
  <div class="container">
    <div class="row">
      
      <div class="span-6">
        <h1>Welcome to Payback.</h1>
        <%= render 'word_scroll' %>

        <%= link_to raw("Get started for free &raquo;"), signup_path, class: "btn btn-green btn-cta" %>
      </div>

      <div class="span-10">
        <img src="/images/comparison.png" alt="">
      </div>

    </div>
  </div>
</section>