<p class="easy-way">
  The easiest way to track spending and borrowing with your
  <span id="word-scroll">
    <span id="word-scroll-inner">
      <span class="word">household.</span>
      <span class="word">group.</span>
      <span class="word">friends.</span>
      <span class="word">family.</span>
      <span class="word">roommates.</span>
    </span>
  </span><!-- #word-scroll -->     
</p>