<% provide(:title, 'Cash') %>

<div class="cash-container">

  <section class="cash-section cash-main">
    <div class="container">
      <div class="row">
        <div class="span-10" style="1px solid red;">
          <h1>Introducing Payback Cash.</h1>
          <p>Pay your debts directly through Payback.</p>
          <%#<a class="btn btn-huge btn-outline" href="#">Get Started</a>%>
        </div>

        <div class="span-6" style="outline: 1px solid red;">
            test
        </div>
      </div>
    </div>
  </section>


  <section class="cash-section cash-how">
    <h2>Sending money as simple as sending an email.</h2>

    <p>Payback integrates with Square Cash for hassle-free payments.</p>

    <div class="container">

      <div class="row cash-how-item">
        <div class="span-2 offset-3">
         <img src="http://www.placehold.it/190/9c4274/ffffff" alt="" />
        </div>

        <div class="span-7 offset-1">
          <h3>Payments in a single click</h3>

          <p>
            Square Cash uses email to transfer money to anyone in your group.
          </p>
        </div>
      </div><!-- .cash-how-item -->

      <div class="row cash-how-item">
        <div class="span-2 offset-3">
         <img src="http://www.placehold.it/190/2ba6cb/ffffff" alt="" />
        </div>

        <div class="span-7 offset-1">
          <h3>Setup: Done.</h3>

          <p>
            The first time you send a payment, Square will send you an email asking you
            to link a debit card. After that, transfers will just work.
          </p>
        </div>
      </div><!-- .cash-how-item -->

    </div>
  </section>


  <section class="cash-section payments-tracking">
    <h2>Track your payment history.</h2>

    <div class="container">
      <div class="row">
        <div class="span-12 offset-2">
          <%= image_tag 'payments-f9.png' %>
        </div>
      </div>
    </div>
  </section>

</div><!-- .cash-container -->
