<% provide(:title, 'Not Found') %>

<div class="row">
  <div class="span-12 offset-2 error-box">
    <h1>Page not found!</h1>
    <p>The page you were looking for may have moved to a new home, or it may have been sucked into the void.</p>
    <p class="sorry">(We're sorry)</p>
    <p class="support">If you're not convinced, click <%= link_to "here", contact_path %> to send us a message.</p>
  </div>
</div>
