<% provide(:title, 'The easiest way to track spending and borrowing with your group') %>

<%= render 'landing_main' %>

<%= render 'landing_reasons' %>





<!-- <section class="landing-temp">
  <div class="container">
    <div class="row">
      <div class="span-8 offset-4">
        


      </div>
    </div>
  </div>
</section> -->