<div class="row">
	<div class="well welcome-container">	

		<h1>Welcome to Payback!</h1>		
		<p>It looks like you don't belong to any groups yet. To get started, you can either join an existing group or create a new one!</p>

		<%= link_to "Join existing group", "#", class: "btn btn-huge btn-primary", id: "group-join" %>

		<%= link_to "Create a new group", new_group_path, class: "btn btn-huge btn-primary", id: "group-new" %>	

		<div class="clearfix"></div>
	</div><!-- .welcome-container -->
</div>