.row
  .span-16#dashboard-buttons
    = link_to new_expense_path, class: "btn btn-blue btn-large" do
      %i.icon-plus.icon-white
      Add New Expense

    = link_to groups_path, class: "btn btn-shadow btn-large" do
      %i.icon-user
      Your Groups
