<% @credit_groups.each do |group| %>

  <div class="group-container">
    <%= content_tag(:h3, group.title) unless current_user.groups.count == 1 %>

    <div class="expenses-container credits-container">
      <% current_user.active_credits(group_id: group).each do |expense| %>
        <%= render 'credit', expense: expense %>
      <% end %>
    </div>
  </div>

<% end %>
