- @credit_groups.each do |group|

  .group-container
    = content_tag(:h3, group.title) unless current_user.groups.count == 1

    .expenses-container.credits-container
      - @credits = group.active_credits_for(current_user)
      - @credits.each do |expense|
        = render 'credit', expense: expense

  - if @credits.count > 1
    %p.expense-total
      You are owed
      = content_tag :span, number_to_currency(current_user.total_credit_owed), class: 'amount'
      \.
