<div class="row">
  <div class="span-16">
    <div class="quick-stats-bar">

      <div class='quick-stats-credits'>
        <h3><%= money(current_user.total_credit_owed) %></h3>
        <p>total owed to you</p>
      </div>

      <div class='quick-stats-debts'>
        <h3><%= money(current_user.total_debt_owed) %></h3>
        <p>total you owe</p>
      </div>
    </div>

  </div>
</div>
