footer {  
  @include inset-box-shadow(0, 10px, 5px, -8px, $med-gray);
  color: lighten($dark-gray, 30);
  margin: 100px 0 25px;
  padding-top: 15px;
  position: relative;
  text-align: center;  

  p {
    display: inline-block;
    margin: 0;
  }

  .actions {    
    position: absolute;
    bottom: 0; right: 0;
        
    a {
      color: lighten($dark-gray, 15);
      &:hover { color: $blue; }
    }
  }

  @media (max-width: 1100px) {
    margin: 50px 0 25px;

    .tagline {
      margin-bottom: 5px;
    }

    .actions {
      margin-top: 5px;
      position: relative;
      bottom: auto; right: auto;
    }
  }

}
