header {
  @include clearfix;
  background-color: $med-gray;
  border-bottom: 1px solid darken($med-gray, 10);
  padding: 5px;

  h1 {
    float: left;
    font-family: Lobster, $baseFontFamily;
    font-weight: bold;
    margin: 0;
    margin-right: 25px;

    a {
      color: inherit;
      &:hover { text-decoration: none; }
    }
  }

  nav a {
    @include border-radius;
    color: $gray-text;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    padding: 8px 10px;

    &:hover,
    &.current {
      background-color: lighten($dark-gray, 15);
      color: white;
      text-decoration: none;
    }
  }


  @media (max-width: 480px) {
    h1 {
      display: none;
    }

    nav {
      padding-top: 4px;
      text-align: center;

      ul {
        display: inline-block;
        text-align: center;

        li {
          float: left;
          margin: 0 5px;
        }

        a {
          padding: 8px;
        }
      }
    }
  }

}
