$nav-selected-color: lighten($dark-gray, 15);

header {
  @include clearfix;
  background-color: $dark-nav;
  padding: 5px;

  h1 a,
  li > a {
    color: #E3E3E3;

    &:hover { color: #f9f9f9; }
  }

  h1 {
    float: left;
    font-family: Lobster, $baseFontFamily;
    font-weight: bold;
    margin: 0;
    margin-right: 25px;

    a:hover { text-decoration: none; }
  }

  ul {
    @include clearfix;
    display: inline-block;
    float: left;
  }

  li {
    display: inline-block;
    position: relative;

    & > a {
      @include border-box;
      @include border-radius(3px);
      display: inline-block;
      float: left;
      font-weight: bold;
      margin-right: 5px;
      padding: 8px 10px;
      position: relative;

      &:hover,
      &.current {
        background-color: $nav-selected-color;
        text-decoration: none;
      }

      &.link-dead {
        color: lighten($gray-text, 30);

        &:hover {
          background: none;
          cursor: default;
        }
      }
    }
  }

  .badge {
    $height: 20px;
    @include border-radius($height);
    line-height: $height;
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: -5px; right: 0px;
    width: $height; height: $height;
  }

  .user-links {
    @include clearfix;
    color: #bbb;
    float: right;
    margin: 10px 0 0;

    .separator {
      display: inline-block;
      margin: 0 5px;
    }
  }

  .tab { display: inline-block; }

  .nav-stack-toggle {
    @include border-radius(3px);
    float: right;
    display: none;
    line-height: 4px;
    margin: 6px 4px 0 0;
    padding: 5px 5px 4px 6px; // TODO: wat
    width: 15px;

    span {
      @include bold(1.3em);
      color: #fff;
      text-align: center;
    }

    &.toggled { background-color: $nav-selected-color; }
  }

  @include mobile {
    .nav-stack-header-container {
      @include clearfix;
      margin: 5px 0;
    }

    .nav-stack-toggle {
      display: inline-block;
      &:hover { text-decoration: none; }
    }

    ul, .user-links { display: none; }

    ul {
      float: none;
      margin-top: 15px;
      width: 100%;
    }

    .tab, li { display: block; }

    .tab { margin-bottom: 3px; }

    li > a {
      float: none;
      width: 100%;
    }

    .badge {
      top: 6px;
      right: 5px;
    }

    .user-links {
      float: none;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

$footerHeight: 40px;

footer {
  @include clearfix;
  background-color: $dark-nav;
  color: $light-text;
  line-height: $footerHeight;
  margin-top: 15px;
  text-align: center;

  p { display: inline-block; }

  @include mobile {
    height: auto;
    line-height: 1.4;
    padding: 10px 0;

    p {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.footer-contact {
  float: right;

  @include mobile {
    float: none;
    text-align: center;
  }
}

footer,
.page-wrap:after { height: $footerHeight; }



.nav-tabs {
  @include clearfix;
  border-bottom: 1px solid $med-gray;

  & > li {
    float: left;
    margin-bottom: -1px;

    & > a {
      @include bold(1.1em);
      background-color: darken($light-gray, 15);
      border-radius: 2px 2px 0 0;
      border-bottom: 1px solid $med-gray;
      color: $light-text;
      display: inline-block;
      margin-right: 5px;
      padding: 10px 20px;

      &:hover { background-color: darken($light-gray, 20); }
    }

    &.active > a {
      background-color: $blue;
      color: #fff;

      &:hover,
      &:focus {
        background-color: $blue;
        color: #fff;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}


.tab-content {
  padding: 20px 0;

  & > .tab-pane { display: none; }
  & > .active   { display: block; }
}


.nohide-links {
  ul, li { display: inline-block; }

  ul {
    margin-top: 0;
    width: auto;
  }
}
