header {
  @include clearfix;
  background-color: $dark-nav;
  // border-bottom: 1px solid darken($med-gray, 10);
  padding: 5px;

  h1 a,
  li > a {
    color: #E3E3E3;

    &:hover { color: #f9f9f9; }
  }

  h1 {
    float: left;
    font-family: Lobster, $baseFontFamily;
    font-weight: bold;
    margin: 0;
    margin-right: 25px;

    a:hover { text-decoration: none; }
  }

  ul {
    @include clearfix;
    display: inline-block;
  }

  li {
    display: inline-block;
    position: relative;

    & > a {
      @include border-radius;
      display: inline-block;
      float: left;
      font-weight: bold;
      margin-right: 5px;
      padding: 8px 10px;
      position: relative;

      &:hover,
      &.current {
        background-color: lighten($dark-gray, 15);
        text-decoration: none;
      }

      &.link-dead {
        color: lighten($gray-text, 30);

        &:hover {
          background: none;
          cursor: default;
        }
      }
    }
  }

  .badge {
    $height: 20px;
    @include border-radius($height);
    line-height: $height;
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: -5px; right: 0px;
    width: $height; height: $height;
  }

  .user-links {
    @include clearfix;
    color: #bbb;
    float: right;
    margin: 10px 0 0;

    .separator {
      display: inline-block;
      margin: 0 5px;
    }
  }

  @include mobile {
    padding-bottom: 10px;

    h1 { display: none; }

    nav {
      padding-top: 4px;
      text-align: center;

      li { margin: 0 2px; }

      a { padding: 8px 6px; }
    }

    #group-tab { display: none; }

    .user-links {
      display: block;
      margin: 10px auto 0;
      width: 100%;

      a { padding: 0; }
    }
  }
}

$footerHeight: 40px;

footer {
  background-color: $dark-nav;
  color: $light-text;
  line-height: $footerHeight;
  text-align: center;
}
footer,
.page-wrap:after { height: $footerHeight; }
