<% provide(:title, 'Cash') %>

<div class="cash-container">

  <section class="cash-section cash-main">
    <div class="container">
      <div class="row">
        <div class="span-10" style="1px solid red;">
          <h1>Introducing Payback Cash.</h1>
          <p>Pay your debts directly through Payback.</p>
          <%#<a class="btn btn-huge btn-outline" href="#">Get Started</a>%>
        </div>

        <div class="span-6" style="outline: 1px solid red;">
            test
        </div>
      </div>
    </div>
  </section>


  <section class="cash-section cash-how">
    <h2>Sending money as simple as sending an email.</h2>

    <p>Payback integrates with Square Cash for hassle-free payments.</p>
  </section>

</div><!-- .cash-container -->
