$('.tipsy').remove() // Close any open tooltips

<% @expense_ids.each do |exp_id| %>
  $("#payment_expense_ids[value=<%= exp_id %>]")
    .parent()
    .replaceWith("<span class='green-check'></span>");
<% end %>
