//-- POST-SIGNUP WELCOME
//------------------------------------
.welcome-container {
  @extend .whitebox;
  text-align: center;

  h1 {
    font-size: 3.5em;   
    margin-bottom: 20px;
  }

  p {
    font-size: 1.3em;
    margin-bottom: 30px;
  }
}