.alert {
  @include border-box;
  @include border-radius;
  border: 1px solid white;
  font-size: 0.9em;
  margin: 5px 0 10px;
  padding: 10px 5px;

  [class^="icon-"] {
    float: right;
    margin-right: 5px;
  }

  &.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
  }

  &.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
  }

  &.alert-notice {
    background-color: lighten($blue, 45);
    border-color: lighten($blue, 15);
    color: darken($blue, 5);

    a {
      color: darken($blue, 5);

      &:hover { color: darken($blue, 12); }
    }
  }

  .close-alert:hover { cursor: pointer; }

  li {
    margin-left: 10px;
    &:before { content: "-"; }
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }

}

.badge {
  @include border-radius;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  padding: 2px 5px;

  &:hover { cursor: pointer; }

  &.badge-red { background-color: #D03130; }
}

$green: #35aa47;
$red:   #B94A48;

.confirm-yes { color: $green; }
.confirm-no  { color: $red; }

.green-check {
  color: $green;
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: -2px;

  &:after { content: '\2713'; } // Escaped unicode checkmark
}
