//-- ADD EXPENSE
//------------------------------------
.new-expense-form {
  margin-bottom: 0;
}

#group-select {
  // Group dropdown
  margin-top: 5px;
  width: 100%;
}

.users-prompt {
  // Button container
  @include clearfix;
  margin: 10px 0;
}

#users-container {
  // Contains the individual columns
  @include clearfix;
  display: none;
  margin-bottom: 10px;

  h5 {
    margin-bottom: 5px;
  }

  .user-column {    
    float: left;
    width: 50%;

    .userbox {
      // Generic block container for checkbox/label

      label,
      input {
        float: none;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }

      input {
        margin-right: 5px;
      }

    } // .userbox
  }

} // .users-container

.expense-back {
  // Left-floated back button
  margin-top: 10px;
}

.expense-faqs-prompt {  
  float: left;
  margin-top: 10px;
}

#expense-faqs {
  display: none;
  margin-bottom: 0;
  overflow: auto;

  h3 {
    margin-bottom: 5px;
  }

  #hide-expense-faqs {
    margin-top: -15px;
  }
}

//-- EXPENSES DASHBOARD
//------------------------------------
#dashboard-buttons {
  margin-bottom: 15px;

  a {
    margin-right: 10px;
    padding: 10px;
  }
}

.group-container {
  margin-bottom: 20px;
}

.expense-blank {
  p { 
    margin: 5px 0;
  }
}

.expenses-container {
  $border-color: #d9d9d9;

  .expense {
    $padding: 5px;
    $top-margin: 20px;

    background-color: #F8F8F8;
    border-bottom: 1px solid $border-color;
    font-size: 2em;
    margin: 0;
    overflow: auto;
    padding: $padding;
    position: relative;

      .expense-price,
      .expense-debtor,
      .expense-creditor,
      .expense-title,
      .expense-date {
        float: left;
      }

      .expense-price {
        font-size: 1.2em;
        margin: $top-margin 0;
        margin-right: 10px;
      }

      .expense-debtor,
      .expense-creditor {
        margin: $top-margin 0;
        margin-right: 10px;

        &:before {
          content: " - ";
        }
      }

      .info-stack {
        //outline: 1px solid red;
        margin: $top-margin/2 0;    
        overflow: auto;
        padding-left: 5px;
      }

      .expense-title {
        font-size: 0.7em;        
        margin-bottom: 5px;
      }

      .expense-date {
        clear: left;    
        font-size: 0.5em;
      }

      .btn-container {      
        display: inline-block;
        overflow: auto;
        position: absolute;
        bottom: 2*$padding; right: 2*$padding;
      }
 
  } // .expense

} // .expenses-container