// TEMPORARY DEV STYLES
/*
.expense {
  background-color: #0fc !important;  
}
.info-left {
  background-color: green;
}
.info-right {
  background-color: pink;
}
*/
// END TEMPORARY DEV STYLES


.expenses-container {  

  .expense {
     
    background-color: #F8F8F8;
    border-bottom: 1px solid #D9D9D9;    
    margin: 0;

    &:last-child { border: none; }

    .expense-inner {

      font-size: 2em;      
      padding: 15px 20px;

      .info-left,
      .info-right {
        float: left;        
        overflow: auto;      
      }

      .info-left {        
        padding: 10px 0;
      }

      .info-right {        
        margin-left: 15px;
      }

      .expense-price {}

      .expense-debtor {        

        &:before { content: " - "; }
      }

      .expense-title,
      .expense-date {
        clear: both;
        float: left;
      }

      .expense-title {        
        font-size: 0.7em;        
        margin-bottom: 5px;
      }

      .expense-date {
        font-size: 0.5em;
      }

      .reassign {

        float: right;   
        margin-top: 10px;

        .dropdown-menu {

          form {
            margin: 0;
          }

          li {            
            border-bottom: 1px solid #D9D9D9;
            cursor: pointer;
            font-size: 0.5em;
            padding: 3px 5px;          
          }

          a { padding-left: 5px; }

          input { margin: 0 4px 4px 0; }

          .reassign-expense {
            color: white;        
            float: right;
            margin: 4px;
            padding: 5px;
            width: 40%;
          }

        } // dropdown-menu

      } // reassign

    } // expense-inner
    
  } // .expense

} // .expenses-container