.footer {
    -webkit-box-shadow: inset 0 10px 10px -7px #ccc;
    -moz-box-shadow: inset 0 10px 10px -7px #ccc;    
    box-shadow: inset 0 10px 10px -7px #ccc;    
    color: lighten(#404040, 30);
    margin-top: 100px;
    padding-top: 10px;
    text-align: center;

    a {
        color: lighten(#0089CC, 10);

        &:hover {
            color:#0089CC;
        }
    }
}
