.footer {  
  @include inset-box-shadow(0, 10px, 10px, -7px, #ccc);
  //background-color: red;
  color: lighten($dark-gray, 30);
  margin-top: 100px;
  padding-top: 15px;
  position: relative;
  text-align: center;  

  p { 
    display: inline-block;
    margin: 0;
  }

  .actions {    
    position: absolute;
    bottom: 0; right: 0;
        
    a {
      color: lighten($dark-gray, 15);
      &:hover { color: $blue; }
    }

  } // .actions

} // .footer
