//-- GENERIC
//------------------------------------
input[type=text],
input[type=password] {
  padding: 7px 0;    
  width: 100%;
}
[type=submit] {
  float: right;
  margin-top: 5px;
}
.form-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}


//-- SIGNUP
//------------------------------------


//-- LOGIN
//------------------------------------
.signup {
  display: block;
  float: right;
  font-size: 0.9em;
  margin-top: 10px;
}

.login-container {  
  padding-bottom: 0;  
}

.login-form {
  margin-bottom: 0;
  padding-bottom: 10px;

  .forgot-password {
    cursor: pointer;
    float: right;
    margin: -23px 0 0;
  }
  
  label.checkbox {    
    display: inline-block;
    margin: 5px 0 0;
  }
} // .login-form