//-- NEW GROUP FAQ
//------------------------------------
.group-faq {

  h2 {
    margin-bottom: 5px;
  }

  ul {
    li {
      font-size: 1.2em;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  }

} // group-faq


//-- GROUP POST-CREATE WELCOME
//------------------------------------
.group-welcome {
  text-align: center;
  
  p {
    font-size: 1.2em;
    line-height: 1.4;
  }

  h1 {
    margin-bottom: 10px;

    & + p {
      margin-bottom: 15px;
    }
  }
}


//-- GROUP DASHBOARD
//------------------------------------
.container-header {
  margin-bottom: 5px;
}

.groups-container { 
  $border-color: #d9d9d9;

  // border: 1px solid $border-color;
  border-bottom: none;
  margin: 10px 0 15px;  

  .group {
    $padding: 10px;
        
    background-color: #F8F8F8;
    border-bottom: 1px solid $border-color;    
    overflow: auto;
    padding: $padding;
    position: relative;

    .group-gid {      
      float: right;
      font-size: 1.7em;
      border: 1px solid $border-color;
      margin-bottom: 5px;
      padding: 4px;
    }

    .group-title,
    .group-title-spacer {      
      float: left;
      font-size: 1.4em;
      margin-top: 10px;
      margin-right: 5px;

      a {
        color: $defaultText;
      }
    }

    .group-title-spacer {
      // Fill out space for groups that are not owned
      margin-top: 20px;
      margin-bottom: 25px;
    }

    .group-users-count,
    .group-owner {
      clear: both;
      color: #999;      
      float: left;
      line-height: 2;
      margin-bottom: 5px;
      margin-right: 10px;    
    }

    .btn-container {      
      display: inline-block;
      overflow: auto;
      position: absolute;
      bottom: $padding; right: $padding;
    }

  } // .group

} // .groups-container

.group-back {
  margin-bottom: 10px;
}