header {
  @include clearfix;
  background-color: $header-gray;
  border-bottom: 1px solid darken($header-gray, 10);

  .container {
    margin-top: 0;
  }

  h1 {
    color: lighten($dark-gray, 5);
    float: left;
    line-height: 40px;
    margin: 0;
    margin-right: 25px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    
    a {
      display: inline-block;
      float: left;
      font-size: 1.1em;
      padding: 12px 15px;

      &:hover {
        background-color: lighten($dark-gray, 15);
        color: white;
        text-decoration: none;
      }
    }
  }

}