//-- BUTTONS
//------------------------------------
.btn-huge {
	font-size: 1.3em; // 1.2
	padding: 20px 40px;
}

.btn-spacer {
	margin-right: 5px;
}


//-- FLASH
//------------------------------------
.alert {
	margin-bottom: 10px;
}