#login-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.signup {
  display: block;
  float: right;
  font-size: 0.9em;
  margin-top: 10px;
}

.login-container {  
  padding-bottom: 0;
  position: relative;
}

.login-form {
  margin-bottom: 0;
  padding-bottom: 10px;

  input[type=text],
  input[type=password] {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 320px; // 317
  }
  .forgot-password {
    cursor: pointer;
    float: right;
    margin: -23px 0 0;

  }
  label.checkbox {    
    display: inline-block;
    margin: 5px 0 0;
  }
  button[type=submit] {
    float: right;
  }
}