 // Landscape phones and down
@media (max-width: 480px) {

.container {
    padding: 0;
}

#dashboard-title {    

  h1 {}
}

#left-column {}

#right-column {  
  margin-top: 10px;
}

.expenses-container {

  .expense {    

    .expense-inner {
     
      .expense-price {}

      .expense-debtor {
        //&:before { content: "" }
      }

      .expense-title {
        display: none
      }

      .expense-date {}

    } // expense-inner

    .reassign {      
      clear: both;
      float: left;      
    }
    
  } // .expense

} // .expenses-container


} // @media (max-width: 480px) 