//---------------------------------------------------------------------

// MAX 1200

//---------------------------------------------------------------------
@media (max-width: 1200px) {

.welcome-container {
  #group-join,
  #group-new {    
    float: none;
    margin: 0 auto;
  }
}

} // @media (max-width: 1200px)


//---------------------------------------------------------------------

// MAX 768

//---------------------------------------------------------------------
@media (max-width: 768px) {

.new-expense-form {
  margin-bottom: 0;
}

.welcome-container {
  #group-join {
    margin-bottom: 20px;
  }
}

.footer {  
  margin: 50px 0 25px;

  .tagline {
    margin-bottom: 5px;
  }

  .actions {    
    position: relative;
    bottom: auto; right: auto;
  }

} // .footer

} //@media (max-width: 768px)


//---------------------------------------------------------------------

// MAX 480

//---------------------------------------------------------------------
 // Landscape phones and down
@media (max-width: 480px) { // 480 | 975 (Hack)


//-- GENERIC
//------------------------------------
.container {  
  margin-top: 15px;
  padding: 0 5px;
}


//-- LOGIN
//------------------------------------
.signup:after { content: "" }


//-- POST-SIGNUP WELCOME
//------------------------------------
.welcome-container {
  width: 80%;

  #group-join,
  #group-new {
    //border: 3px solid yellow;
    float: none;
    margin: 0 auto;
  }

  #group-join {
    margin-bottom: 20px;
  }

} // welcome-container



//-- EXPENSES DASHBOARD
//------------------------------------
.right-column h2 {  
  margin-top: 15px;
}

.expenses-container {

  .expense {
    padding: 5px;

      .expense-price,
      .expense-debtor,
      .expense-creditor {
        margin: 20px 0;
      }

    .expense-price {
      font-size: 1em;
      margin-right: 5px; // 10 without hypen
    }

    .info-stack {      
      float: right;      
      margin: 5px 0 10px;      
    }

    .expense-title {
      display: none;
    }
   
    .btn-container {      
      clear: right;   
      float: right;
      position: relative;
      bottom: auto; right: auto;
    }
    
  } // .expense

} // .expenses-container


//-- ADD EXPENSE
//------------------------------------
#users-container {
  h5 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}

.checkbox-inline {
  //outline: 1px solid red;
  font-size: 1.2em;
  margin-bottom: 10px;

  input {
    margin-right: 10px;
  }
}

.input-prepend input {    
  width:  84%;
}

.expense-faqs-prompt {
  float: right;
  margin-top: 15px;
}

#expense-faqs {
  #hide-expense-faqs {
    margin-top: -5px;
  }
}


} // @media (max-width: 480px)