//---------------------------------------------------------------------

// MAX 1200

//---------------------------------------------------------------------
@media (max-width: 1200px) {

.welcome-container {
  #group-join,
  #group-new {    
    float: none;
    margin: 0 auto;
  }
}

} // @media (max-width: 1200px)


//---------------------------------------------------------------------

// MAX 768

//---------------------------------------------------------------------
@media (max-width: 768px) {

.welcome-container {
  #group-join {
    margin-bottom: 20px;
  }
}

.footer {
  margin-top: 50px;

  .tagline {
    margin-bottom: 5px;
  }

  .actions {    
    position: relative;
    bottom: auto; right: auto;
  }

} // .footer

} //@media (max-width: 768px)


//---------------------------------------------------------------------

// MAX 480

//---------------------------------------------------------------------
 // Landscape phones and down
@media (max-width: 480px) { // 480 | 975 (Hack)


//-- GENERIC
//------------------------------------
.container {  
  margin-top: 15px;
  padding: 0 5px;
}




//-- LOGIN
//------------------------------------
.signup:after { content: "" }


//-- FIRST LOGIN
//------------------------------------
.welcome-container {
  width: 80%;

  #group-join,
  #group-new {
    //border: 3px solid yellow;
    float: none;
    margin: 0 auto;
  }

  #group-join {
    margin-bottom: 20px;
  }

} // welcome-container



//-- DASHBOARD/EXPENSES
//------------------------------------
#new-expense a {
  $padding: 10px;
  padding: $padding 5px;
}

.right-column h2 {  
  margin-top: 15px;
}

.expenses-container {

  .expense {
    padding: 5px;

      .expense-price,
      .expense-debtor,
      .expense-creditor {
        margin: 20px 0;
      }

    .expense-price {
      font-size: 1em;
      margin-right: 5px; // 10 without hypen
    }

    .info-stack {      
      float: right;      
      margin: 5px 0 10px;      
    }

    .expense-title {
      display: none;
    }
   
    .btn-container {      
      clear: right;   
      float: right;
      position: relative;
      bottom: auto; right: auto;
    }
    
  } // .expense

} // .expenses-container


} // @media (max-width: 480px)