//-- ADD EXPENSE
//------------------------------------
.new-expense-form {
  margin-bottom: 5px;
  padding: 20px;

  label:first-of-type {
    margin-top: 5px;
  }
}

#group-select {
  // Group dropdown
  margin-top: 10px;
  width: 100%;
}

.users-prompt {
  // Button container
  @include clearfix;
  margin: 15px 0 10px;

  .btn:last-of-type {
    float: right;
  }
}

#users-container {
  // Contains the individual columns
  @include clearfix;
  display: none;
  margin-bottom: 10px;

  h5 {
    margin-bottom: 5px;
  }

  .user-column {    
    float: left;
    width: 50%;

    .userbox {
      // Generic block container for checkbox/label

      label,
      input {
        float: none;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }

      input {
        margin-right: 5px;
      }

    } // .userbox
  }

} // .users-container

#expense-payback {
  margin-left: 10px;
}

.expense-back {
  // Left-floated back button
  margin-top: 10px;
}

.expense-faqs-prompt {  
  float: left;
  margin-top: 12px;
}

#expense-faqs {
  @include clearfix;
  display: none;
  margin-bottom: 0;
  padding: 10px;

  h3, p {
    margin-bottom: 5px;
  }

  #hide-expense-faqs {
    // Button
    float: right;
    margin-top: 5px;
  }
}


//-- EXPENSES DASHBOARD
//------------------------------------
#dashboard-buttons {
  margin-bottom: 15px;

  a {
    margin-right: 10px;
    padding: 10px;
  }
}

.group-container {
  margin-bottom: 20px;
}

.expenses-container {
  @extend .whitebox;
  padding: 0;
}

.expense {
  @include clearfix;
  border-bottom: 1px dashed $med-gray;
  font-size: 2em;
  padding: 5px;
  position: relative;

  &:last-of-type {
    border: none;
  }

  .expense-price,
  .expense-debtor,
  .expense-creditor,
  .expense-title,
  .expense-date {
    float: left;
  }

  .expense-price {
    font-size: 1.2em;
    margin: 20px 0;
    margin-right: 10px;
  }

  .expense-debtor,
  .expense-creditor {
    margin: 20px 0;
    margin-right: 10px;

    &:before {
      content: " - ";
    }
  }

  .info-stack {
    display: inline-block;
    margin: 10px 0 0;   
    padding-left: 5px;
  }

  .expense-title {
    font-size: 0.7em;        
    margin-bottom: 5px;
  }

  .expense-date {
    clear: left;    
    font-size: 0.5em;
  }

  .expense-actions {
    // Button container
    position: absolute;
    bottom: 5px; right: 5px;
  }

} // .expense

.expense-blank {
  font-size: 1em;

  p {
    margin: 5px 0;
  }
}