.tag-editor {
  border: 1px solid $med-gray;
  margin-bottom: 15px;
  padding: 4px 5px 2px;
  position: relative;

  .tag {
    @include bold(0.9em);
    background-color: #f3f3f3;
    border: 1px solid #dcdcdc;
    color: $gray-text;
    display: inline-block;
    margin: 1px 4px 0 0;
    padding: 2px 6px 5px 6px;

    a {
      display: inline-block;
      color: #666;
      font-size: 1.2em;
      margin-left: 5px;

      &:hover { color: $blue; }
    }
  }

  #tag_input {
    border: 0;
    float: right;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}
