@import "expense_tags";

.new-expense-form {
  margin-bottom: 5px;
  padding: 20px;

  .section-label { margin-bottom: 5px; }

  label {
    font-size: 1.1em;
    &:first-of-type { margin-top: 5px; }
  }
}

#expense-payback { margin-left: 10px; }

.expense-back {
  margin-top: 10px;
  @include mobile { padding: 10px 15px; }
}

#group-select {
  margin-bottom: 10px;
  width: 100%;
}

#users-container {
  @include clearfix;
  margin-bottom: 10px;

  .user-column {
    float: left;
    width: 50%;
  }

  .userbox {
    label,
    input {
      display: inline-block;
      float: none;
      margin: 0 0 10px;
      vertical-align: middle;

      @media (min-width: 1100px) { margin: 0; }
    }

    input {
      margin-right: 5px;
      margin-top: 2px;
    }
  }
}

.core-tags-container {
  margin: 5px 0 10px;

  p {
    display: inline-block;
    margin-right: 10px;
  }
}

.core-tag {
  border-bottom: 1px solid #f3f3f3;
  padding: 5px;

  i { margin: -2px 5px 0 0; }
}
