.main-container { padding: 0 !important; }
.container { padding: 0 !important; }


.expense-people-container {
  background-color: #22a301;
  padding: 30px 20px 10px;
  text-align: center;

  .person-btn {
    @include border-radius(4px);
    border: 1px solid #f1f1f1;
    color: white;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 3%;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    width: 20%;

    &.selected,
    &:hover {
      background-color: white;
      color: #22a301;
      text-decoration: none;
    }
  }
}


.expense-fields-container {
  background-color: $blue;
  color: white;
  padding: 30px 15px;
  text-align: center;

  h3 {
    font-size: 2.3em;
    font-weight: 100;
    margin-bottom: 20px;
  }

  input {
    background: none;
    border: 0;
    border-bottom: 1px dashed #eee;
    color: white;
    outline: 0;
  }

  .expense-amount-container {
    @include clearfix;
    margin: 0 auto 40px;
    width: 90%;

    .dollar-container, input { @include border-box; }

    .dollar-container {
      color: white;
      font-size: 2.9em;
      font-weight: 200;
      float: left;
      width: 15%;
    }

    input {
      float: right;
      font-size: 3em;
      width: 80%;
    }
  }

  .expense-title-container {
    text-align: center;
    margin-bottom: 50px;

    input {
      display: inline-block;
      font-size: 1.7em;
      width: 90%;
    }
  }
}


.expense-save-btn {
  @include border-radius(4px);
  border: 1px solid #f1f1f1;
  color: white;
  display: block;
  font-size: 1.5em;
  padding: 13px 0;
  text-align: center;

  &:hover {
    background-color: white;
    color: #08c;
    text-decoration: none;
  }
}
