html, body { height: 100%; }

html { overflow-y: scroll; }

body {
  background-color: $light-gray;
  @extend %noise;
  color: $gray-text;
  font-family: $baseFontFamily;
  font-size: 13px;
}

.page-wrap > .container { margin: 25px auto 30px; }

@include mobile {
  body .container { padding: 0 5px; }
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footerHeight;

  &:after {
    content: "";
    display: block;
  }
}


.left { float: left }
.right { float: right }
%noise { background: url('/images/noise.png') }

.quote:before,
.quote:after {
  content: "\"";
  color: darken($med-gray, 10);
  font-weight: normal;
}

.divider {
  display: inline-block;
  margin: 0 5px;
}

.feature-notice { margin-bottom: 20px; }
