.notifications-container {
  @extend %whitebox;
  border-color: darken($med-gray, 8);
  border-top-color: darken($med-gray, 15);
  display: none;
  padding: 0;
  position: absolute;
  top: 35px;
  width: 325px;
  z-index: 100;

  @include mobile {
    right: 0;
    width: 100%
  }
}

.notification {
  @include border-box;
  @include clearfix;
  border-bottom: 1px solid $med-gray;
  padding: 10px 5px;

  &:last-child { border: 0; }

  &.notification-unread { background-color: lighten($blue, 44); }

  &.notification-completed {
    background-color: darken($light-gray, 2);
    color: darken($med-gray, 40);
  }

  .notification-text {
    float: left;
    max-width: 90%;
  }

  .user-from {
    color: $blue;
    font-weight: bold;
  }

  .expense-title {
    color: lighten($gray-text, 15);
    font-style: italic;
  }

  .btn {
    margin-top: -3px;
    padding: 3px;
  }

  .payment-mark-all-btn {
    @include border-box;
    font-size: 1em;
    font-weight: normal;
    margin: 10px 0 0;
    padding: 7px 3px;
  }
}
