//-- TEMPORARY
//------------------------------------
//.container {outline: 1px solid black;}


//-- GENERIC
//------------------------------------
html {
  overflow-y: scroll;
}

body {
  background-color: #E0E0E0;
}

.container {
  margin-top: 25px;
}


//-- TITLES
//------------------------------------
.main-title {
  // Used for Signup and Dashboard
  font-size: 3em;
  margin-bottom: 15px;
}


//-- SIGNUP WELCOME
//------------------------------------
.front-welcome {
  position: relative;

  h2 {
    margin-bottom: 10px;
  }

  .easy-way {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
  }

  // Word scroll module
  //-------------------
  #word-scroll {
    display: inline-block;
    margin-left: 5px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    width: 140px;
    vertical-align: top;

    #word-scroll-inner {
      position: absolute;
      top: 0; left: 0;
    }

    .word {
      display: block;
      margin-bottom: 5px;
      height: 25px;
    }
  }
  
  ul {
    li {      
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }

  // Thumbnail list
  //-------------------
  .thumbnails {
    margin-top: 10px;

    h3 {
      font-size: 1em;
      font-weight: normal;
      margin-bottom: 5px;
    }

    img {
      @include border-radius(4px);
      border: 1px solid #ccc;
      padding: 2px;
    }

  } // .thumbnails

  .item-container {    
    overflow: auto;
    clear: both;
    margin-bottom: 10px;
  }

} // .front-welcome


//-- POST-SIGNUP WELCOME
//------------------------------------
.welcome-container {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 50%;

  h1 {
    font-size: 3.5em;   
    margin-bottom: 20px;
  }

  p {
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  $spacer: 45px;

  #group-join {
    float: left;
    margin-left: $spacer;
  }

  #group-new {
    float: right;
    margin-right: $spacer;
  }
} // .welcome-container


@import "forms";
@import "expenses";
@import "groups";
@import "footer";
@import "mobile";