// TEMPORARY DEV STYLES
/*
#left-column,
#right-column {
  background-color: orange;
}
.container {
  background-color: red;
  outline: 1px solid black;
}
*/
// END TEMPORARY DEV STYLES

body {
  background-color: #E0E0E0;
}

#dashboard-title {  
  margin-bottom: 15px;

  h1 { font-size: 3em; }
}

#new-expense {
  margin-bottom: 15px;
}

#mark-completed {
  margin-top: 15px;
}

@import "expenses";
@import "footer";
@import "mobile";