//-- TEMPORARY
//------------------------------------
//.container {outline: 1px solid black;}


//-- GENERIC
//------------------------------------
body {
  background-color: #E0E0E0;
}

.container {
  margin-top: 25px;
}


//-- TITLES
//------------------------------------
.main-title {
	// Used for Signup and Dashboard
	font-size: 3em;
	margin-bottom: 15px;
}


//-- DASHBOARD BUTTONS
//------------------------------------
#new-expense {
  margin-bottom: 15px;
}

#mark-completed {
  margin-top: 15px;
}


//-- POST-SIGNUP WELCOME
//------------------------------------

.welcome-container {

	margin: 0 auto;
	padding: 30px;
	text-align: center;
	width: 50%;

	h1 {
		font-size: 3.5em;		
		margin-bottom: 20px;
	}

	p {
		font-size: 1.3em;
		margin-bottom: 30px;
	}

	$spacer: 45px;

	#group-join {
		float: left;
		margin-left: $spacer;
	}

	#group-new {
		float: right;
		margin-right: $spacer;
	}
}



@import "forms";
@import "expenses";
@import "footer";
@import "mobile";