.payments-container {
  h1 { margin-bottom: 20px; }
}

.payments-table {
  background-color: #fff;
  border: 1px solid $med-gray;
  border-collapse: separate;
  margin: 0 auto;
  text-align: left;
  width: 100%;

  thead th,
  tbody td {
    @include border-box;
    border-right: 1px solid $med-gray;
    border-top: 0;
    padding: 8px;

    &:last-child { border-right: 0; }
  }

  tr:first-child td { border-top: 1px solid $med-gray; }

  tr:nth-of-type(odd) td { background-color: $light-blue; }

  thead th { font-weight: bold; }

  tbody td {
    border-top: 1px solid $med-gray;

    &.payment-empty {
      background-color: #fff;
      border-top: 0;
      font-size: 1.1em;

      .btn { margin: 0 3px; }
    }
  }

  // .payment-net-title {
  //   color: lighten($gray-text, 10);
  //   font-style: italic;
  // }

  $radius: 2px;
  tr:first-child td:first-child { border-top-left-radius: $radius; }
  tr:first-child td:last-child  { border-top-right-radius: $radius; }
  tr:last-child  td:first-child { border-bottom-left-radius: $radius; }
  tr:last-child  td:last-child  { border-bottom-right-radius: $radius; }
}
