//-- ADD EXPENSE
//------------------------------------
.new-expense-form {
  margin-bottom: 5px;
  padding: 20px;

  label:first-of-type {
    margin-top: 5px;
  }
}

#expense-payback {
  margin-left: 10px;
}

.expense-back {
  // Left-floated back button
  margin-top: 10px;
}

#show-expense-faqs {
  // "What are these?"
  float: left;
  margin-top: 12px;
}

#expense-faqs {
  @include clearfix;
  display: none;
  margin-bottom: 0;
  padding: 10px;

  h3, p {
    margin-bottom: 5px;
  }

  #hide-expense-faqs {
    // Button
    float: right;
    margin-top: 5px;
  }
}


@import "select_users";