//-- ADD EXPENSE
//------------------------------------
.new-expense-form {
  margin-bottom: 5px;
  padding: 20px;

  label:first-of-type {
    margin-top: 5px;
  }
}

#group-select {
  // Group dropdown
  margin-top: 10px;
  width: 100%;
}

.users-prompt {
  // Button container
  @include clearfix;
  margin: 15px 0 10px;

  .btn:last-of-type {
    float: right;
  }
}

#users-container {
  // Contains the individual columns
  @include clearfix;
  display: none;
  margin-bottom: 10px;

  h5 {
    margin-bottom: 5px;
  }

  .user-column {    
    float: left;
    width: 50%;

    .userbox {
      // Generic block container for checkbox/label

      label,
      input {
        float: none;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }

      input {
        margin-right: 5px;
      }

    } // .userbox
  }

} // .users-container

#expense-payback {
  margin-left: 10px;
}

.expense-back {
  // Left-floated back button
  margin-top: 10px;
}

.expense-faqs-prompt {  
  float: left;
  margin-top: 12px;
}

#expense-faqs {
  @include clearfix;
  display: none;
  margin-bottom: 0;
  padding: 10px;

  h3, p {
    margin-bottom: 5px;
  }

  #hide-expense-faqs {
    // Button
    float: right;
    margin-top: 5px;
  }
}