//-- EXPENSES DASHBOARD
//------------------------------------
#dashboard-buttons {
  margin-bottom: 15px;

  .btn {
    margin-right: 10px;
  }
}

.expenses-container {
  @extend .whitebox;
  margin-bottom: 15px;
  padding: 0;
}

.expense {
  @include clearfix;
  border-top: 1px dashed $med-gray;
  font-size: 2em;
  padding: 5px;
  position: relative;

  &:first-of-type {
    border: none;
  }

  .expense-price,
  .expense-debtor,
  .expense-creditor,
  .expense-title,
  .expense-date {
    float: left;
  }

  .expense-price {
    margin: 20px 0;
    margin-right: 10px;
  }

  .expense-debtor,
  .expense-creditor {
    margin: 20px 0;
    margin-right: 10px;

    &:before {
      content: " - ";
    }
  }

  .info-stack {
    display: inline-block;
    margin: 10px 0 0;   
    padding-left: 5px;
  }

  .expense-title {
    font-size: 0.7em;        
    margin-bottom: 5px;
  }

  .expense-date {
    clear: left;
    color: $light-text;
    font-size: 0.5em;
  }

  .expense-actions {
    // Button container
    position: absolute;
    bottom: 10px; right: 10px;
  }

} // .expense

.expense-blank {
  font-size: 1em;

  p {
    margin: 5px 0;
  }
}

.expense-total {
  color: $light-text;
  margin: 10px 0;
  text-align: right;
}

.expense-stale {
  float: right;
  font-size: 0.5em;
  margin-right: 5px;
  padding: 2px 5px;

  [class^="icon"] {
    margin: 0;
  }

  @media (min-width: 1100px) { margin-top: 5px; }

  @media (min-width: 630px) and (max-width: 790px) {
    display: none;
  }
}


@media (max-width: 480px) {
  #dashboard-buttons {
    margin-top: -5px;

    .btn {
      margin: 0;
      padding: 15px 18px;

      &:first-of-type {
        margin-left: 10px;
      }

      &:last-of-type {
        float: right;
        margin-right: 10px;
      }
    }
  }

  .expense {
    .expense-price {
      font-size: 1em;
    }

    .info-stack {
      float: right;      
      margin: 5px 0 10px;     
    }

    .expense-title {
      display: none;
    }
  }
}