//-- EXPENSES DASHBOARD
//------------------------------------
#dashboard-buttons {
  margin-bottom: 15px;

  a {
    margin-right: 10px;
  }
}

.group-container {
  margin-bottom: 20px;
}

.expenses-container {
  @extend .whitebox;
  padding: 0;
}

.expense {
  @include clearfix;
  border-bottom: 1px dashed $med-gray;
  font-size: 2em;
  padding: 5px;
  position: relative;

  &:last-of-type {
    border: none;
  }

  .expense-price,
  .expense-debtor,
  .expense-creditor,
  .expense-title,
  .expense-date {
    float: left;
  }

  .expense-price {
    margin: 20px 0;
    margin-right: 10px;
  }

  .expense-debtor,
  .expense-creditor {
    margin: 20px 0;
    margin-right: 10px;

    &:before {
      content: " - ";
    }
  }

  .info-stack {
    display: inline-block;
    margin: 10px 0 0;   
    padding-left: 5px;
  }

  .expense-title {
    font-size: 0.7em;        
    margin-bottom: 5px;
  }

  .expense-date {
    clear: left;    
    font-size: 0.5em;
  }

  .expense-actions {
    // Button container
    position: absolute;
    bottom: 10px; right: 10px;
  }

} // .expense

.expense-blank {
  font-size: 1em;

  p {
    margin: 5px 0;
  }
}


@media (max-width: 480px) {
  .expense {
    .expense-price {
      font-size: 1em;
    }

    .info-stack {
      float: right;      
      margin: 5px 0 10px;     
    }

    .expense-title {
      display: none;
    }
   
    .expense-actions {      
      //clear: right;   
      //float: right;
      //position: relative;
      //bottom: auto; right: auto;
    }
  }
}