<div class="row">
  <div class="span-16" id="dashboard-buttons">
    <%= link_to new_expense_path, class: "btn btn-blue btn-large" do %>
      <i class="icon-plus icon-white"></i>
      Add New Expense
    <% end %>
    <%= link_to groups_path, class: "btn btn-shadow btn-large" do %>
      <i class="icon-user"></i>
      Your Groups
    <% end %>
  </div><!-- #dashboard-buttons -->
</div>
