<div class="whitebox" id="expense-faqs">
  <h3>Split vs Payback</h3>
  <p><strong>Split Evenly</strong> will split the cost among the members selected, including yourself.</p>
  <p><strong>Payback</strong> will have the selected members pay you back in full.</p>
  <a id="hide-expense-faqs" class="btn">Got it!</a>
</div>  