<div class="users-prompt">
  <a href="#" class="btn btn-large disabled pull-left" id="users-group">Group Expense</a>
  <a href="#" class="btn btn-large pull-right" id="users-select">Select Users &raquo;</a>
</div>

<div id="users-container">
  <h5>Select Members</h5>

  <div class="user-column"></div>

  <!-- <div class="user-column"></div> -->

</div><!-- .users-container -->




<!--  
  <label class="checkbox-inline">
    <input type="checkbox" value="USER_ID">
    USER_NAME
  </label>
-->