<div class="users-prompt">
  <a href="#" class="btn btn-large btn-disabled2" id="users-group">Group Expense</a>
  <a href="#" class="btn btn-large" id="users-select">Select Users &raquo;</a>
</div>

<div id="users-container">
  <h5>Select Members</h5>

  <div class="user-column"></div>

  <!-- <div class="user-column"></div> -->

</div><!-- .users-container -->