<div class="users-prompt">
  <!-- Group Expense selected by default -->
  <a href="#" class="btn btn-large btn-blue" id="users-group"><i class="icon-white icon-ok"></i>Group Expense</a>
  <a href="#" class="btn btn-large btn-disabled2x" id="users-select">Select Users &raquo;</a>
</div>

<div id="users-container">
  <h5>Select Members</h5>

  <div class="user-column"></div>
</div>
