<% threshold = 10.seconds %>
<% if Time.now - expense.created_at > threshold %>
  <span class="expense-stale" title="This expense is over <%= distance_of_time_in_words(threshold) %> old!"></span>
<% end  %>
