<span class="help-text">Optional: Add tags to sort expenses later, up to 4</span>
<div class='core-tags-container'>
  <p>Common:</p>
  <% Tag::CORE_TYPES.each do |type| %>
     <span class='core-tag btn' data-type="<%= type %>"><%= type %></span>
  <% end %>
</div>

<div class="tag-editor">
  <div style="overflow: auto">
    <span class="tags">
      <!-- <span class="tag">groceries</span> -->
    </span>
    <%= text_field_tag :tag_input, nil, placeholder: 'Enter your own tags',
      'data-validate' => false %>
  </div>
</div><!-- .tag-editor -->

<%= hidden_field_tag :tag_list %>
