<div class="expense-tags">
  <% if tags = expense.tags %>
    <% tags.each do |tag| %>
      <% title = tag.title %>
      <% path = tagged_expenses_path(title) %>
      <% if current_page?(path) %>
        <%= content_tag :span, title, class: 'tag tag-current' %>
      <% else %>
        <%= link_to title, tagged_expenses_path(title), class: 'tag' %>
      <% end %>
    <% end %>
  <% end %>
</div>
