<div class="expense-tags">
  <% if tags = expense.tags %>
    <% tags.each do |tag| %>
      <% title = tag.title %>
      <%= link_to title, tagged_expenses_path(title), class: 'tag' %>
    <% end %>
  <% end %>
</div>
