<% provide(:title, 'Dashboard') %>

<% notice = SiteNotice.last %>
<% if notice.present? && !notice.expired? && cookies[notice.close_key].blank? %>
  <div class="row">
    <div class="span-16">
      <div class="alert alert-notice feature-notice" data-key="<%= notice.id %>">
        <%= raw notice.title %>
        <i class="icon-remove close-alert"></i>
      </div>
    </div>
  </div>
<% end %>

<%= render 'full' %>
