<!-- <h1>Expense#new</h1>
<p>Find me in app/views/expenses/new.html.erb</p> -->

<div class="row">
    <div class="span4 offset4">

        <%= form_tag(@expense, class: "well new-expense-form") do %>
            <h1 class="form-title">Add New Expense</h1>
            
            <%= content_tag(:div, flash[:error], class: "alert alert-error") if flash[:error]%>

            <!--
                  Select users
                        Group (default)
                        Select...
                  Amount
                  Title

                  Split/Payback
            -->           

            <div class="field">     
            </div>

            <%= submit_tag "Add Expense", class: "btn btn-primary", id: "submit-expense" %>

            <div class="clearfix"></div>
        <% end %><!-- .new-expense-form -->       

    </div><!-- .login-container -->
</div>